.ui-btn-fa {
    padding-left: 2.5em;
}
.ui-btn-fa .fa {
    position: absolute;
    left: 9px;
    width: 22px;
    height: 22px;
}
.ui-btn-fa .fa:before {
    line-height: 22px !important;
}

.hero-img,
.banner {
    width: 100%;
}

#map-canvas {
    width: 100%;
    height: 350px;
    padding: 0;
}

.list-char li {
    list-style-type: square;
}

.address-info {
    font-size: 12px;
    font-style: italic;
}
